<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Backbone test task</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
<script id="users-table" type="text/template">
    <thead>
    <tr>
        <th column="first_name"><div>First name</div></th>
        <th column="last_name"><div>Last name</div></th>
        <th column="age"><div>age</div></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</script>

<script id="users-row" type="text/template">
    <td><div><%= first_name %></div></td>
    <td><div><%= last_name %></div></td>
    <td><div><%= age %></div></td>
</script>

<div class="container">
    <div class="row-fluid">
        <div id="content" class="span12>"></div>
    </div>
</div>
<script data-main="/js/config.js" src="js/vendor/requirejs/require.js"></script>
</body>
</html>